{% block javascripts %}
            <script src="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.2/js/uikit.min.js') }}"></script>
            <script src="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.2/js/uikit-icons.min.js') }}" ></script>
        {% endblock %}
</body>
</html>
